extend ../template/template
block main
    main
         +topBanner("education","Aim and Objective")
         section.section-padding
            ul
                li  To establish, promote, set-up,run,maintain,assist, finance support and/or aid to or help in the setting up and/or maintaining and/or running schools and other Institutions orphanages, widow homes, lunatic asylums, poor houses or other establishment for relief and/or help to the poor,old and inform people and/or destitute.
                li To give, provide and/or render help and assistance not only cash or kind to poor and or destitute people, widow etc.
                li To give, provide and/or render help and assistance to and/or implement any scheme for providing livelihood and upliftment of the poor.
                li To give, provide and/or render food, medicine and other help and/or assistance in any shape or form to the poor and needy persons.
                li To give, provide and/or render monetary and/or other help and assistance for the relief of persons and animals affected by nature and other calamities such as flood, fire, famine, cyclone, earth –quake , storm, accident, drought, epidemic and the like to give donations, subscriptions , or contributions to intuitions, establishment, centers or persons doing relief work on such occasions.
                li To start and maintain relief measures in those parts of world which are or become subjected to natural drought, famine, calamities such as flood,fire drought, famine, cyclone , earth-quake,epidemic, strome, accident, pestilence etc.
                li To open found establish, promote, set-up, run, maintain, grant, assistance of finance , support and/or aid or help in setting up and/or maintaining and or running school, colleges, lecture halls and other establishments or institutions for advancement of education and of knowledge in acts, science , literature, humanities and other useful subjects in all their manifestations.
                li  To open found establish, promote, set up, run, maintain, grant, assistance of finance, support and/or maintaining and or running hospitals/Chikisalaya, boarding houses, libraries, reading room, gymnasium and other training and vocational institutes. 
                li  To promote, advance and encourage and/or aid in helping, promoting , advancing and encouraging adult, primary, secondary and higher education including technical and medical education also physical training of handicraft, fine art and other useful arts, crafts among the public including the establishment and maintenance of shilpa shikshalayas, kala kendras and other welfare centers for them.
                li To foster and encourage education and training  in handicrafts, fine arts, among men/women folk in general and establish and found institutions imparting  such education and to establish , maintain , support or help by monetary gifts or otherwise, centers and institutions  for men, women and children.
                li  To meet travelling ,boarding and lodging expenses for students going outside the State of Tripura for higher commercial and technical education.State of Tripura for higher commercial and technical education.
                li To grant, pay or give scholarship, stipends, prizes, reward, allowances and other financial assistance or help in cash or kind to students with a view to help them in prosecuting their studies in school, colleges, educational institutions, technical institutions, art schools, institutions, teaching commercial and other arts including teaching of cultural arts of other training , research or educational works in India.
                li To open found establish, promote, set up, run, maintain, grant , assistance of finance, support and/or aid or help in the setting up and or maintaining and or running hospitals, charitable dispensaries, maternity homes, child welfare center, convalescent homes, sanatoriums, hostels and other similar institutions or centers for rendering or providing  medical science including surgery.
                li To establish maintain or grant aid for the establishment or maintenance of wells, tube wells, tanks, water-reservoirs and  trees  and constructions of a repairs of paths, roads, bridges etc. for the use of the public.
                li  To  open found establish, promote , set up , run, maintain, assist finance, support and /or aid or help in the setting up establishment , maintenance and/or running dharmasalas, wells, deep tube wells, tanks roads etc.
                li To give provide, distribute dhotis, blankets , rugs, woolen clothing, quits of cotton, woolen, silk or other varieties of cloths or other articles of necessity and facilities for the poor.
                li To promote, advance and encourage agriculture with the help of cow and cattle and their dung/urinal with other deshaja materials avoiding chemical fertilizer/pesticide.
                li To promote, organize, administer, establish, support, maintain and/or grant aid to any person, institution or society or organization whatsoever having for its objects of charitable purposes and to incur expenditure in connection therewith.
                li To open, found, renovate or repair any such temple as the trustees may deem fit and proper throughout the State of Tripura.
                li To help in the preservation of cattle and useful animals specially cow and to build up gaushala(Cow Pen) with Indian Cow.
                li To start Joint  liability  Group  for  promoting Rural Economic Upliftment.
                li To  promote, assist and/or maintain all activities by whatsoever carried on or wherever carried on in Indian in conformity with the  objects of the Trust and as are conductive for advancement of education, spiritualism and culture.
                li To organize a team who trained the group or individual for digital Education.
                li To Organized team for developing cluster for increasing income of the downtrodden or economically backward.
                li To preparing project or promoting Entrepreneurship development or arrange entrepreneurship development programmer.
                li To organize Financial Literacy Camp for benefiting Economically weaker or other community.
                li To work with Govt. Department for serving  a community or Group of community only, through the promotion of Traditional Industry  and new generation Industry/Entrepreneurship.